@charset "UTF-8";

body{
    background-color:   rgb(143, 222, 143);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    h1{
        color: darkblue;
        background-color: darkgreen;
    }

    h2{
        color:darkred;
    }
}