@charset "UTF-8";

/*Versão mobile first*/

/*typical device breakpoints
pequenas telas:até 480px
Celular:481-768px
Tablet:769-1279
Desktop:1280+
TV:
*/

@media print{

}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#tablet{
        margin:auto;
    }
    main{
        img#phone{display:none}
        img#tablet{display:block}
        img#print{display:none}
        img#pc{display:none}
        img#tv{display:none}
    }


}

@media screen and (min-width:992px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#pc{
        margin:auto;
    }
    main{
        img#phone{display:none}
        img#tablet{display:none}
        img#print{display:none}
        img#pc{display:block}
        img#tv{display:none}
    }
}

@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#tv{
        margin:auto;
    }
    main{
        img#phone{display:none}
        img#tablet{display:none}
        img#print{display:none}
        img#pc{display:none}
        img#tv{display:block}
    }
}